.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(239, 8, 150, 0.2) -6.9%,
    rgba(112, 7, 255, 0.2) 55.31%,
    rgba(0, 200, 255, 0.2) 107.28%
  );
  /* box-shadow: 0px 3px 5px rgba(23, 15, 24, 0.5),
		inset 0px 0px 14px rgba(202, 26, 231, 0.6); */

  transform: translate(-4px, -4px);
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: rgba(0, 0, 0);
} */

/* When the checkbox is checked, add a blue background */
/* .container input:checked ~ .checkmark {
  background-color:rgba(0, 0, 0);
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid #00c8ff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 640px) {
  .container {
    display: block;
    position: relative;
    padding-left: 18px;
    margin-bottom: 12px;
  }
  .checkmark {
    top: 20%;
    left: 0;
    height: 18px;
    width: 18px;
  }

  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 3px;
    height: 7px;
  }
}
